PROJECT_NAME=appleklinikawebshop

WORDPRESS_VERSION=6.5.5
PHP_VERSION=8.2
MARIADB_VERSION=11.4
PHPMYADMIN_VERSION=5.2

WORDPRESS_PORT=8080
PHPMYADMIN_PORT=8081
MYSQL_PORT=3306

MYSQL_DATABASE=appleklinika
MYSQL_USER=appleklinika
MYSQL_PASSWORD=change-me-local-password
MYSQL_ROOT_PASSWORD=change-me-root-password

WORDPRESS_DEBUG=1
PHPMYADMIN_UPLOAD_LIMIT=128M
